<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="UTF-8">
    <title>Forex-Nyit menü</title>
</head>
<body>
<h2>Forex Pozíció Nyitás</h2>

<form th:action="@{/fnyit}" th:object="${param}" method="post">
    <label>Instrumentum:</label>
    <select th:field="*{instrument}">
        <option value="EUR_USD">EUR_USD</option>
        <option value="USD_CHF">USD_CHF</option>
        <option value="GBP_USD">GBP_USD</option>
        <option value="USD_JPY">USD_JPY</option>
    </select><br><br>

    <label>Mennyiség</label>
    <input type="number" th:field="*{units}" min="-100" max="100"><br><br>

    <input type="submit" value="Pozíció nyitása">
</form>

<hr>

<div th:if="${result}">
    <h3>Eredmény:</h3>
    <p th:utext="${result}"></p>
</div>

</body>
</html>