<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deviza lekérdezés</title>
</head>
<body>
<h2>Deviza lekérdezés</h2>

<form th:action="@{/soap}" th:object="${param}" method="post">
    <label>Deviza:</label>
    <select th:field="*{currency}">
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="CHF">CHF</option>
    </select><br><br>

    <label>Kezdő dátum:</label>
    <input type="date" th:field="*{startDate}" required><br><br>

    <label>Befejező dátum:</label>
    <input type="date" th:field="*{endDate}" required><br><br>

    <button type="submit">Lekérdezés</button>
</form>

</body>
</html>
